@media screen and (max-width: 850px){
    .header{
        width: 500px;
    }

    h1.main-title{
        word-wrap: break-word;
    }
    .main{
        width: 500px;
    }
    .sections-container{
        width: 350px;
    }
    .section-col{
        width: 169px;
        height: 169px;
    }
    .sections-container > .section{
        left: 0 !important;
        font-size: 13px;
    }
    h4.sub-title{
        margin-top: 7px;
        margin-left: 0;
        text-align: center;
    }
    #fix-word-width{
        font-size: 1.6em;
    }
}

@media screen and (max-width: 500px){
    .header{
        width: 320px;
    }
    .main{
        width: 320px;
    }
    body{
        font-size: 12px;
    }
    .sections-container{
        width: 300px;
    }
    .section-col{
        width: 144px;
        height: 144px;
    }
    .sections-container > .section{
        font-size: 13px;
    }
    h4.sub-title{
        margin-top: 7px;
        font-size: 1.2em;
    }
    .nav{
        font-size: 15px;
    }
}